node_modules/
package-lock.json
.vscode/

devconfig/
devdatabase/
plugins/*
!plugins/example-plugin/
database/openticket.sqlite
dist/

otdebug.txt

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
**/.DS_Store

.backup/*
.tools/*
!.tools/createDocs.js
!.tools/mergeTranslations.js
!.tools/typedoc-config.json
!.tools/pterodactyl-eggs/
!.tools/docker-compose.yml
!.tools/dockerfile